@font-face {
    font-family: "EB Garamond";
    src: url(..//ЯПРАКТИКА/fonts/ebgaramondmedium.woff2) format("woff2"),
      url(..//ЯПРАКТИКА/fonts/ebgaramondmedium.woff) format(".woff"),
      url(..//ЯПРАКТИКА/fonts/ebgaramondmedium.ttf) format("truetype");
    font-weight: 500;
    font-display: swap;
  }
  
  @font-face {
    font-family: "EB Garamond";
    src: url(..//ЯПРАКТИКА/fonts/ebgaramondregular.woff2) format("woff2"),
      url(..//ЯПРАКТИКА/fonts/ebgaramondregular.woff) format(".woff"),
      url(..//ЯПРАКТИКА/fonts/ebgaramondregular.ttf) format("truetype");
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    src: url(..//ЯПРАКТИКА/fonts/interregular.woff2) format("woff2"),
      url(..//ЯПРАКТИКА/fonts/interregular.woff) format(".woff"),
      url(..//ЯПРАКТИКА/fonts/interregular.ttf) format("truetype");
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    src: url(..//ЯПРАКТИКА/fonts/interbold.woff2) format("woff2"),
      url(..//ЯПРАКТИКА/fonts/interbold.woff) format(".woff"),
      url(..//ЯПРАКТИКА/fonts/interbold.ttf) format("truetype");
    font-weight: 700;
    font-display: swap;
  }
  